body{
	background-color: darkorange;
	text-align: center;
}
/*format of the list that are in the webpages below*/
ul{
	width: 5%;
	margin: auto;
}
li{
	font-size: 18pt;
	font-family: futura, optima, geneva, arial;
}
/*format of the text in the webpages below*/
h1{
	font-size: 40pt;
	font-family: "Arial Black", "Franklin Gothic Medium", impact;
	text-transform: uppercase;
}
p{
	font-size: 15pt;
	font-family: "Goudy old style", "Times new roman", "courier new", monospace;
}
h2{
	font-size: 25pt;
	font-family: cursive, monospace;
}
/*style of the images*/
img{
	border-color: orange;
	border-style: solid;
	border-width: 5px;
}
/*other special formating*/
#sources{
	font-family: futura, optima, geneva, arial;
}



